In [1]:
import pandas as pd

In [2]:
basepath = '/mnt/sandbox1/alex.li/train_seg_halo/find_mislabeled_data_halo_81'
edata = pd.read_csv(basepath + '/evenhash/viz/mislabel_result.csv')
odata = pd.read_csv(basepath + '/oddhash/viz/mislabel_result.csv')
data = pd.concat([edata, odata])

In [5]:
data[data['loss'] > .5]

,id,loss,for_triage,reasons
279,64f2735909cc4b4e291c8c92_T02_T03,2.880236,True,['loss_above_0.5']
850,64d4595dcdddad3864bc48cb_T10_T11,0.608186,True,['loss_above_0.5']
885,64d308f7c28c73a94011dc56_T10_T11,0.604901,True,['loss_above_0.5']
890,64d324dc364cf74cb48848ec_T10_T11,0.501573,True,['loss_above_0.5']
940,64e51a858db25bf27d006ad5_T10_T11,0.654568,True,['loss_above_0.5']
...,...,...,...,...
162651,652db0eb75a207b6fb38b284_T13_T15,0.926532,False,[]
162955,65779ccb7b8dbd99e7fa671b_T14_T16,0.781899,False,[]
163068,65f12943da2e23de14b0f198_T14_T16,0.502557,False,[]
163353,64d6ac4e79cb52464edcf3cc_I02_I04,0.619270,False,[]
163368,65396a4013659ee1912d8c73_I02_I04,1.814840,False,[]

In [9]:
data[data['loss'].isna()]

Empty DataFrame
Columns: [id, loss, for_triage, reasons]
Index: []